<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sommerengineering.recipes">

    <!-- "normal" level protections are automatically granted -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- top level application -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning" >

        <!-- WidgetProvider class handles the Android system broadcast APPWIDGET_UPDATE, this
        broadcast occurs every 30 minutes as set in widget_item_item.xml -->
        <receiver android:name=".WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <!-- associate the provider xml to the WidgetProvider class and this system broadcast  -->
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />
        </receiver>

        <!-- a grid widget_item requires RemoteViewsService and system permission to BIND_REMOTEVIEWS -->
        <service android:name=".WidgetGridService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <!-- main activity is a recycler grid -->
        <activity
            android:name="com.sommerengineering.recipes.MainActivity"
            android:label="Recipes"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- recipe activity holds two fragments: full recipe metadata in fragment_detail,
        and specific step metadata in fragment_step -->
        <activity
            android:name="com.sommerengineering.recipes.RecipeActivity"
            android:label="Recipe Details" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sommerengineering.recipes.MainActivity" />
        </activity>

        <!-- custom font -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>