<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sommerengineering.recipes">

    <!-- "normal" level protections are automatically granted -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- top level -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning" >

        <!-- main activity is a recyclerview grid -->
        <!-- TODO this will ultimately be a fragment -->
        <activity
            android:name="com.sommerengineering.recipes.MainActivity"
            android:label="Baking Recipes"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- detail activity shows recipe metadata with dynamically created textviews and buttons -->
        <activity
            android:name="com.sommerengineering.recipes.RecipeActivity"
            android:label="Recipe Details" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sommerengineering.recipes.MainActivity" />
        </activity>

        <!-- player activity shows details of a given recipe step, and plays a video if available -->
        <activity
            android:name="com.sommerengineering.recipes.StepFragment"
            android:label="Step Details" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sommerengineering.recipes.RecipeActivity" />
        </activity>

        <!-- custom font -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>